<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>weatherstation.GetWeatherDisplayTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>GetWeatherDisplayTests_latestday</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GetWeatherDisplayTests_latestdata</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GetWeatherDisplayTests_latesthour</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GetWeatherDisplayTests_latestday_Negativetest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>weatherstation.GetForecastPointsTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>GetForecastPoints_en_NegativeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GetForecastPoints_en</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>weatherstation.GetForecastTimeSeriesTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>GetForecastTimeSeries_lat_long</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>GetForecastTimeSeries_lat_long_NegativeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>weatherstation.GetAemetStationTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getAemetStation_lastdata_NegativeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getAemetStation_lastdata</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getAemetStation_lastday</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>weatherstation.GetEasywindTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getEasyWind_latestday</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getEasyWind_latestdata_NegativeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getEasyWind_latesthour</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getEasyWind_latestdata</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>weatherstation.Users</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>postUser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getUser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
