<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3e471">  <td>21/01/22 17:59:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetForecastPointsTests.GetForecastPoints_en()[pri:0, instance:weatherstation.GetForecastPointsTests@ba54932]">GetForecastPoints_en</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="a3e471">  <td>21/01/22 17:59:59</td>   <td>335</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetForecastPointsTests.GetForecastPoints_en_NegativeTest()[pri:0, instance:weatherstation.GetForecastPointsTests@ba54932]">GetForecastPoints_en_NegativeTest</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>21/01/22 17:59:59</td>   <td>801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetForecastTimeSeriesTests.GetForecastTimeSeries_lat_long()[pri:0, instance:weatherstation.GetForecastTimeSeriesTests@28975c28]">GetForecastTimeSeries_lat_long</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>21/01/22 18:00:00</td>   <td>1171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetForecastTimeSeriesTests.GetForecastTimeSeries_lat_long_NegativeTest()[pri:0, instance:weatherstation.GetForecastTimeSeriesTests@28975c28]">GetForecastTimeSeries_lat_long_NegativeTest</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="796586">  <td>21/01/22 17:59:55</td>   <td>-3328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetWeatherDisplayTests.GetWeatherDisplayTests_latestdata()[pri:0, instance:weatherstation.GetWeatherDisplayTests@574b560f]">GetWeatherDisplayTests_latestdata</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="796586">  <td>21/01/22 17:59:57</td>   <td>-1198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetWeatherDisplayTests.GetWeatherDisplayTests_latestday()[pri:0, instance:weatherstation.GetWeatherDisplayTests@574b560f]">GetWeatherDisplayTests_latestday</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="796586">  <td>21/01/22 17:59:58</td>   <td>-810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetWeatherDisplayTests.GetWeatherDisplayTests_latestday_Negativetest()[pri:0, instance:weatherstation.GetWeatherDisplayTests@574b560f]">GetWeatherDisplayTests_latestday_Negativetest</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="796586">  <td>21/01/22 17:59:58</td>   <td>-480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetWeatherDisplayTests.GetWeatherDisplayTests_latesthour()[pri:0, instance:weatherstation.GetWeatherDisplayTests@574b560f]">GetWeatherDisplayTests_latesthour</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="c2a9ac">  <td>21/01/22 18:00:06</td>   <td>7319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetAemetStationTests.getAemetStation_lastdata()[pri:0, instance:weatherstation.GetAemetStationTests@343570b7]">getAemetStation_lastdata</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="c2a9ac">  <td>21/01/22 18:00:11</td>   <td>12208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetAemetStationTests.getAemetStation_lastdata_NegativeTest()[pri:0, instance:weatherstation.GetAemetStationTests@343570b7]">getAemetStation_lastdata_NegativeTest</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="c2a9ac">  <td>21/01/22 18:00:11</td>   <td>12553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetAemetStationTests.getAemetStation_lastday()[pri:0, instance:weatherstation.GetAemetStationTests@343570b7]">getAemetStation_lastday</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="7bacdf">  <td>21/01/22 18:00:00</td>   <td>1519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetEasywindTests.getEasyWind_latestdata()[pri:0, instance:weatherstation.GetEasywindTests@3943a2be]">getEasyWind_latestdata</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="7bacdf">  <td>21/01/22 18:00:05</td>   <td>6260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetEasywindTests.getEasyWind_latestdata_NegativeTest()[pri:0, instance:weatherstation.GetEasywindTests@3943a2be]">getEasyWind_latestdata_NegativeTest</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="7bacdf">  <td>21/01/22 18:00:05</td>   <td>6630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetEasywindTests.getEasyWind_latestday()[pri:0, instance:weatherstation.GetEasywindTests@3943a2be]">getEasyWind_latestday</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="7bacdf">  <td>21/01/22 18:00:06</td>   <td>6978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GetEasywindTests.getEasyWind_latesthour()[pri:0, instance:weatherstation.GetEasywindTests@3943a2be]">getEasyWind_latesthour</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="b9b8c9">  <td>21/01/22 18:00:15</td>   <td>16801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Users.getUser()[pri:0, instance:weatherstation.Users@157853da]">getUser</td> 
  <td>main@1471086700</td>   <td></td> </tr>
<tr bgcolor="b9b8c9">  <td>21/01/22 18:00:16</td>   <td>17602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Users.postUser()[pri:0, instance:weatherstation.Users@157853da]">postUser</td> 
  <td>main@1471086700</td>   <td></td> </tr>
</table>
